.titulo-ano{
    font-size: 71px;
    color: black;
}

#myCarousel {
    margin-bottom: 0px !important;
}

.status-projeto-feito{
    padding: 3px;
    font-weight: bolder;
    background-color: #00AC2F;
    color: white;
    border-radius: 10px;
    text-align: center ;
}

.text-negrito{
    font-weight: bolder;
}

.text-color-black{
    color: black;
}

.subtitulo-experiencia{
    display: inline !important;
}

#no-margin-button{
    margin-bottom: 0 !important;
}

.caixa-experiencia-detalhes:hover{
    background-color: white;
    border-radius: 10px;
    box-shadow:
    1px 1px #2a2a76,
    2px 2px #2a2a76,
    3px 3px #2a2a76;
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
}

#tamanho-logo-ciandt{
    width: 17% !important;
}

.img-transicao-preto-branco{

    transition: .3s;

    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}

#caixa-espacamento-baixo{
    margin-bottom: 50px;
}

.img-transicao-preto-branco:hover{
    -webkit-filter: none;	
	filter: none;	
}